.container {
  width: 90%;
  margin: auto;
}

.intro-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hello {
  font-size: 20px;
}

.name {
  font-size: 60px;
}

.work {
  font-size: 40px;
}

.intro-image {
  width: 45%;
}
