.container {
  display: flex;
  margin: auto;
  width: 95%;
  height: 65px;
  padding: 100;
  justify-content: space-between;
  align-items: center;
}

.nav {
  /* flex-grow: 1;
  flex-shrink: 0; */
  flex-basis: 300;
}
